---
layout: default
title: Ištekliai
permalink: /istekliai/
---
<h1>Ištekliai</h1>
<p class="lead">Pratimai, pamokų planai ir scenarijai. Turite ką pasidalinti? <a href="{{ '/prisidek/' | relative_url }}">Siųskite mums</a>.</p>

<label class="search">
  <span>Paieška</span>
  <input type="search" id="paieska" placeholder="Ieškoti išteklių…" autocomplete="off">
</label>

{% assign grupes = site.data.istekliai | group_by: "kategorija" %}
{% assign zinomos = site.data.istekliu_kategorijos | map: "pavadinimas" %}
{% for k in site.data.istekliu_kategorijos %}
  {% assign g = grupes | where: "name", k.pavadinimas | first %}
  {% include istekliu-grupe.html pavadinimas=k.pavadinimas ikona=k.ikona aprasymas=k.aprasymas items=g.items %}
{% endfor %}
{% comment %}Kategorijos, kurių nėra sąraše aukščiau, rodomos gale{% endcomment %}
{% for g in grupes %}
  {% unless zinomos contains g.name %}
    {% include istekliu-grupe.html pavadinimas=g.name items=g.items %}
  {% endunless %}
{% endfor %}
<p class="empty-note" id="nieko" hidden>Nieko nerasta.</p>
